
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('PO-POTES.png') %>"/>
  <% end %>

<!--   <div class="searching">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group d-flex">
        <input class="form-control input-large string required" type="text" name="search[query]" id="search_query" />

        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <%= link_to "Add a meal", new_meal_path, class: "nav-link d-block d-sm-none" %>
      </li>
      <li class="nav-item active">
        <%= link_to "My meals", my_meals_path, class: "nav-link d-block d-sm-none" %>
      </li>
      <li class="nav-item active">
        <%= link_to "My orders", my_orders_path, class: "nav-link d-block d-sm-none" %>
      </li>
      <li class="nav-item active">
        <%= link_to "My profile", "#", class: "nav-link d-block d-sm-none" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Log out", destroy_user_session_path, class: "nav-link d-block d-sm-none" %>
      </li>

      <li class="dropdown align-self-center d-none d-sm-block mr-3">
        <button class="dropdown-toggle border-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My kitchen
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Add a meal", new_meal_path, class: "dropdown-item" %>
          <%= link_to "My meals", my_meals_path, class: "dropdown-item" %>
          <%= link_to "My orders", my_orders_path, class: "dropdown-item" %>
          <%= link_to "My profile", "#", class: "dropdown-item d-block d-sm-none" %>
          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle d-none d-sm-block", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My profile", "#", class: "dropdown-item" %>
          <%= link_to "Log out", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>



