<div class="container mt-3 ">
  <h2>Category is...</h2>

  <div class="category-container">

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>
    </div>

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Last minute deals
      </div>
    </div>

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Today's meals
      </div>
    </div>

  </div>

</div>



<div class="container mt-3">
  <h1>All the meals available</h1>

<!-- dynamic count according to the search -->

<!-- mosaic of meals -->

<div class="row">
  <% @meals.each do |meal| %>
    <div class="col-3">

      <div class="meal-card">

        <div class="meal-card-image" style="background-image: url('<%= "/assets/images/logo.png" %>')"></div>

          <div class="meal-card-content">
            <div class="meal-card-title"><h4><%= meal.name %></h4></div>
              <p><%= meal.description %></p>

              <div class="flex">

                <div class="flex"><i class="material-icons mr-2">people</i><span><%= meal.quantity_max %></span></div>
                <div class="flex ml-3"><i class="material-icons mr-2">euro_symbol</i> <%= meal.unit_price %></div>

              </div>
          </div>
      </div>

    </div>
  <% end %>
</div>
