<div class="meal-banner" style="background-image: url('<%= cl_image_path @meal.photo %>')">
</div>

<div class="container">
  <div class="meal-main-container">
    <div class="left-content">
      <!-- div titre + photo -->
      <div class="d-flex justify-content-between">
        <div>
          <h1><%= @meal.name.capitalize %></h1>
        </div>
        <div>
        <!-- div photo + nom -->
          <% if @meal.user.photo? %>
            <%= cl_image_tag @meal.user.photo, class:"user_pic_and_name", gravity: :face, crop: :thumb %>
          <% else %>
            <img src="https://www.getdigital.fr/web/getdigital/gfx/products/__generated__resized/380x380/Aufkleber_Trollface.jpg" alt="" class="user_pic_and_name">
          <% end %>
          <p><%= @meal.user.username %></p>
        </div>
      </div>
      <p class="meal_category_badge"><%= @meal.category %></p>
      <% @meal.ingredients.each do |ingredient| %>
        <p class="allergies"><%= ingredient.name %> </p>
      <% end %>
      <div class="meal-info-details">
        <p><%= @meal.description %> </p>
        <p> Nombre de parts max : <%= @meal.quantity_max %> </p>
        <p> Nombre de parts dispo : <%= @meal.left_quantity %> </p>
      </div>
      <hr>
      <span class="d-flex">
        <% if @meal.reviews.present? %>
            <h3 class="pb-2 mr-3">Reviews</h3>
            <% @meal.rating_average.floor.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% if @meal.rating_average % 1 != 0 %>
              <i class="fas fa-star-half"></i>
          <% end %>
        <% end %>
      </span>
      <div class="">
        <% @meal.reviews.each do |review| %>
          <span class="d-flex justify-content-between">
            <p class="review-author"><%= review.user.username %></p>
            <span><% review.rating.times do %>
              <i class="fas fa-star"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="far fa-star"></i>
            <% end %></span>
          </span>
          <span><p><%= review.content %></p></span>
        <% end %>
      </div>
    </div>
    <!-- div photo + nom -->
    <div class="right-content">

      <% if @meal.user != current_user %>
        <div class="checkout card p-3">
            <div class="d-flex py-3 border-bottom">
              <span class="price-per-serving"><%= @meal.unit_price %></span>
             € /serving
              <span class="total-price" data-meal="<%= @meal.to_json %>"></span>€
            </div>
            <%= simple_form_for(@order) do |f| %>
              <%= hidden_field_tag :meal_id, @meal.id %>
              <%= f.input :pick_up_date %>
              <%= f.input :order_quantity %>
              <%= f.button :submit, class: "button" %>
            <% end %>
          <% else %>
          <%= link_to 'Ajouter allergène', new_meal_meal_ingredient_path(@meal),  class: "button" %>
        </div>
      <% end %>

    </div>
  </div>
  <!-- div left content -->
</div>






