<div class="meal-banner" style="background-image: url('<%= cl_image_path @meal.photo %>')">

</div>

<div class="container py-2">
  <div class="row">
    <div class="col-8">
      <div class="meal_header d-flex justify-content-between py-3 border-bottom">
        <div class="meal_big_titles">
          <h1><%= @meal.name.capitalize %></h1>
          <h3 class=""><%= @meal.category %></h3>
        </div>
        <div class="user_pic_and_name d-flex flex-column align-items-center">
          <img src="https://resize-parismatch.lanmedia.fr/img/var/news/storage/images/paris-match/people-a-z/javier-bardem/6033180-8-fre-FR/Javier-Bardem.jpg" alt="" class="">
          <p><%= @meal.user.username %></p>
        </div>
      </div>

      <div class="meal_text">
        <p><%= @meal.description %></p>
        <p> Nombre de parts max : <%= @meal.quantity_max %> </p>
      </div>
      <div class="allergies">
        <ul>
            <% @meal.ingredients.each do |ingredient| %>
              <li><%= ingredient.name %> </li>
            <% end %>
          </ul>
        </div>
    </div>

    <% if @meal.user != current_user %>
    <div class="col-4">
      <div class="checkout card p-3 sticky-top">
        <p class="d-flex py-3 border-bottom"> <span class="price-per-serving"><%= @meal.unit_price %> </span>
         € /serving <span class="total-price" data-meal="<%= @meal.to_json %>"> </span> €</p>
          <%= simple_form_for(@order) do |f| %>
            <%= hidden_field_tag :meal_id, @meal.id %>
            <%= f.input :pick_up_date %>
            <%= f.input :order_quantity %>
            <%= f.button :submit, class: "button" %>
          <% end %>
      </div>
    </div>
    <% else %>
    <div class="col-4">
      <div class="d-flex py-3 justify-content-center">
        <p>
          <%= link_to 'Ajouter allergène', new_meal_meal_ingredient_path(@meal),  class: "button" %>
        </p>
      <% end %>
      </div>
    </div>
  </div>
</div>
