
<h1>my meals</h1>


<% @my_meals.each do |meal| %>
  <div class="card-items">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-item-infos">
      <h2><%= meal.name %></h2>
      <p><%= meal.description %><%=  meal.quantity_max %></p>
      <p><%= link_to "Edit", "#" %></p>
      <p><%= link_to "Delete", "#" %></p>
    </div>
  </div>
<% end %>

