
<h1>my meals</h1>


<% @my_meals.each do |meal| %>
  <div class="card-items" >
    <%= cl_image_path meal.photo %>
    <div class="card-item-infos">
      <h2><%= meal.name %></h2>
      <p><%= meal.description %><%=  meal.quantity_max %></p>
      <p><%= link_to "Edit", edit_meal_path(meal.id) %></p>
      <p><%= link_to "Delete", "#" %></p>
    </div>
  </div>
<% end %>

